<div class="objload">
</div>
<div class="objload-vert">
</div>
<div class="loading">
  <p>U</p>
  <p>Ü</p>
</div>

<audio class="son" loop preload>
  <source src="{{ " /etc/son.mp3" | relURL }}" type="audio/mpeg" />
</audio>

<button class="btn btn--header btn--menu">
  <div class="info">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
      <g>
        <g>
          <path d="M131.908,370.088c-0.145-0.712-0.356-1.414-0.634-2.081c-0.278-0.668-0.623-1.313-1.024-1.926
			c-0.412-0.601-0.868-1.18-1.391-1.692c-0.512-0.512-1.08-0.979-1.692-1.38c-0.601-0.401-1.247-0.746-1.914-1.024
			c-0.679-0.278-1.38-0.49-2.081-0.634c-1.436-0.289-2.916-0.289-4.352,0c-0.712,0.145-1.414,0.356-2.081,0.634
			c-0.668,0.278-1.325,0.623-1.926,1.024c-0.612,0.401-1.18,0.868-1.692,1.38c-0.512,0.512-0.979,1.091-1.38,1.692
			c-0.401,0.612-0.746,1.258-1.024,1.926c-0.278,0.668-0.49,1.369-0.634,2.081c-0.145,0.723-0.223,1.447-0.223,2.182
			c0,0.723,0.078,1.447,0.223,2.17c0.145,0.712,0.356,1.414,0.634,2.081s0.623,1.313,1.024,1.926
			c0.401,0.601,0.868,1.169,1.38,1.692c0.512,0.512,1.08,0.968,1.692,1.38c0.601,0.401,1.258,0.746,1.926,1.024
			c0.668,0.278,1.369,0.49,2.081,0.634c0.712,0.145,1.447,0.223,2.17,0.223c0.724,0,1.458-0.078,2.182-0.223
			c0.701-0.145,1.402-0.356,2.081-0.634c0.668-0.278,1.313-0.623,1.914-1.024c0.612-0.412,1.18-0.868,1.692-1.38
			c0.523-0.523,0.979-1.091,1.391-1.692c0.401-0.612,0.746-1.258,1.024-1.926s0.49-1.369,0.634-2.081
			c0.145-0.724,0.211-1.447,0.211-2.17C132.12,371.535,132.053,370.811,131.908,370.088z" />
        </g>
      </g>
      <g>
        <g>
          <path d="M437.02,74.983C391.533,29.498,331.113,2.951,266.889,0.233C206.056-2.349,146.835,16.604,99.116,53.698
			c-12.708-7.081-29.089-5.239-39.873,5.544c-10.784,10.784-12.625,27.166-5.544,39.874C16.604,146.835-2.343,206.053,0.232,266.89
			c2.718,64.225,29.264,124.645,74.749,170.13C123.333,485.372,187.621,512,256.001,512s132.666-26.628,181.019-74.98
			C485.371,388.669,512,324.381,512,256.001S485.37,123.335,437.02,74.983z M74.982,74.983c2.103-2.102,4.897-3.26,7.87-3.26
			c2.973,0,5.768,1.158,7.87,3.26c2.103,2.103,3.26,4.897,3.26,7.87c0,2.973-1.158,5.768-3.26,7.87s-4.897,3.26-7.87,3.26
			c-2.973,0-5.768-1.158-7.87-3.26s-3.26-4.897-3.26-7.87C71.722,79.881,72.879,77.086,74.982,74.983z M421.278,421.28
			c-91.135,91.136-239.42,91.136-330.555,0C6.851,337.407-1.182,206.854,70.436,113.846c3.976,1.586,8.195,2.383,12.416,2.383
			c8.55,0,17.102-3.255,23.611-9.764c9.722-9.724,12.181-23.999,7.382-36.028c90.083-69.366,215.382-64.011,299.38,12.599
			L381.661,114.6C348.044,84.754,303.862,66.786,256,66.786c-104.334,0-189.217,84.883-189.217,189.217
			c0,33.263,8.756,65.982,25.322,94.618c2.064,3.566,5.801,5.558,9.644,5.558c1.891,0,3.808-0.483,5.563-1.498
			c5.321-3.078,7.139-9.887,4.06-15.207c-14.609-25.253-22.33-54.117-22.33-83.471c0-92.059,74.896-166.956,166.956-166.956
			c41.768,0,80.358,15.506,109.896,41.318l-31.593,31.592c-21.24-17.715-48.547-28.389-78.303-28.389
			c-67.51,0-122.434,54.924-122.434,122.434s54.924,122.434,122.434,122.434s122.434-54.924,122.434-122.434
			c0-29.756-10.674-57.063-28.389-78.303l31.607-31.607c19.331,22.04,32.99,49.28,38.543,79.559
			c-11.494,5.281-19.5,16.896-19.5,30.353c0,13.457,8.006,25.071,19.5,30.353c-14.399,78.522-83.347,136.603-164.195,136.603
			c-38.381,0-74.462-12.661-104.342-36.613c-4.796-3.846-11.802-3.074-15.646,1.722c-3.844,4.796-3.074,11.802,1.722,15.646
			c33.389,26.765,75.389,41.506,118.266,41.506c92.329,0,170.977-66.847,186.465-156.891c14.37-3.726,25.012-16.807,25.012-32.326
			c0-15.519-10.643-28.598-25.012-32.326c-6.133-35.659-22.181-67.674-45.052-93.345l31.545-31.544
			C512.328,190.403,509.775,332.783,421.278,421.28z M248.131,263.873c2.174,2.174,5.022,3.26,7.87,3.26
			c2.848,0,5.698-1.086,7.87-3.26l22.257-22.257c2.09,4.359,3.263,9.238,3.263,14.386c0,18.412-14.979,33.391-33.391,33.391
			c-18.412,0-33.391-14.979-33.391-33.391c0-18.412,14.979-33.391,33.391-33.391c5.149,0,10.027,1.173,14.387,3.263l-22.257,22.257
			C243.784,252.478,243.784,259.525,248.131,263.873z M286.667,209.593c-8.8-5.835-19.341-9.244-30.668-9.244
			c-30.686,0-55.652,24.965-55.652,55.652c0,30.686,24.965,55.652,55.652,55.652s55.652-24.965,55.652-55.652
			c0-11.326-3.409-21.867-9.244-30.668l31.823-31.823c13.723,17.144,21.942,38.874,21.942,62.49
			c0,55.236-44.938,100.173-100.173,100.173s-100.174-44.938-100.174-100.173c0-55.236,44.938-100.174,100.174-100.174
			c23.616,0,45.346,8.22,62.49,21.942L286.667,209.593z M422.957,256.001c0-6.137,4.993-11.13,11.13-11.13
			c6.137,0,11.13,4.993,11.13,11.13c0,6.137-4.993,11.13-11.13,11.13C427.95,267.132,422.957,262.139,422.957,256.001z" />
        </g>
    </svg>
  </div>
</button>
<button class="btn btn--header btn--sound">
  <div class="info info--off">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px" y="0px" viewBox="0 0 485 485" style="enable-background:new 0 0 485 485;" xml:space="preserve">
      <g>
        <polygon points="257.5,169.203 227.5,169.203 227.5,227.5 169.203,227.5 169.203,257.5 227.5,257.5 227.5,315.797 257.5,315.797 
		257.5,257.5 315.797,257.5 315.797,227.5 257.5,227.5 	" />
        <polygon points="319.317,0 319.317,30 455,30 455,166.667 485,166.667 485,0 	" />
        <polygon points="455,455 319.317,455 319.317,485 485,485 485,318.333 455,318.333 	" />
        <polygon points="30,318.333 0,318.333 0,485 167.65,485 167.65,455 30,455 	" />
        <polygon points="0,166.667 30,166.667 30,30 167.65,30 167.65,0 0,0 	" />
      </g>
    </svg>
  </div>
  <div class="info none info--on">
    <svg enable-background="new 0 0 294.843 294.843" version="1.1" viewBox="0 0 294.84 294.84"
      xmlns="http://www.w3.org/2000/svg">
      <g transform="translate(0,4.794)">
        <path
          d="m205.92 24.039c-3.065-1.265-6.571 0.193-7.835 3.256-1.265 3.063 0.193 6.571 3.256 7.835 43.688 18.036 71.917 60.231 71.917 107.5 0 64.098-52.147 116.24-116.25 116.24-3.314 0-6 2.687-6 6s2.686 6 6 6c70.715 0 128.25-57.53 128.25-128.24 0-52.142-31.142-98.691-79.338-118.59z" />
        <path
          d="m157.01 225.93c45.934 0 83.304-37.37 83.304-83.303s-37.37-83.303-83.304-83.303c-3.313 0-6 2.687-6 6 0 3.314 2.687 6 6 6 39.317 0 71.304 31.986 71.304 71.303s-31.987 71.303-71.304 71.303c-3.313 0-6 2.686-6 6s2.687 6 6 6z" />
        <path
          d="m176.54 163.6c-2.424 2.258-2.559 6.055-0.3 8.479 1.182 1.269 2.784 1.911 4.392 1.911 1.464 0 2.932-0.533 4.088-1.61 8.231-7.667 12.952-18.513 12.952-29.757 0-22.419-18.24-40.659-40.66-40.659-3.313 0-6 2.687-6 6s2.687 6 6 6c15.803 0 28.66 12.856 28.66 28.659-1e-3 8.042-3.244 15.491-9.132 20.977z" />
        <path
          d="m130.79 14.84c-2.241-0.928-4.821-0.417-6.538 1.296l-63.408 63.312h-54.844c-3.313 0-6 2.687-6 6v114.36c0 3.313 2.687 6 6 6h57.326c3.313 0 6-2.687 6-6s-2.687-6-6-6h-51.326v-102.36h51.326c1.59 0 3.114-0.631 4.239-1.754l54.926-54.842v215.55l-29.627-29.583c-2.346-2.341-6.145-2.339-8.485 7e-3 -2.341 2.345-2.338 6.144 7e-3 8.485l39.867 39.806c1.147 1.146 2.681 1.754 4.241 1.754 0.773 0 1.554-0.149 2.297-0.458 2.241-0.929 3.702-3.117 3.702-5.542v-244.49c-2e-3 -2.426-1.463-4.613-3.703-5.542z" />
      </g>
    </svg>
  </div>
</button>

<header class="menu">
  <a href="{{ .Site.Params.address | safeHTML }}" target="_blank" rel="noopener" class="title__link">{{
    .Site.Params.Title }}</a>
  <div class="menu__content">
    {{ .Site.Params.Presentation | markdownify }}
  </div>
  <div class="credits">
    {{ .Site.Params.credits | markdownify }}
    <div class="instructions">
      <div class="instructions__desktop">
        (<em>La souris et les flèches directionnelles permettent de s’orienter et de se déplacer dans cet
          antilivre.</em>)
      </div>
      <div class="instructions__mobile">
        (<em>La fonction de zoom permet de s’orienter et de se déplacer dans cet antilivre.</em>)
      </div>
    </div>
  </div>
</header>
